@model IEnumerable<Semester1Project.ViewModels.UserApplicationViewModel>

@{
    ViewBag.Title = "Applicants";
}

<div class="titlebar">Applicatants</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.PhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.JobCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
 
    <tr>
        <td>
            <a href="@Url.Action("UserDetail/"+item.Applicant.UserId)">@Html.DisplayFor(modelItem => item.Applicant.UserName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.Pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.PhoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.JobCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.Location)
        </td>
        <td>
            @Html.ActionLink("Hire", "Hire", new { id=item.Application.ApplicationId }) |
            @Html.ActionLink("Decline", "Decline", new { id=item.Application.ApplicationId }) |
        </td>
    </tr>
}

</table>
