@model Semester1Project.ViewModels.UserApplicationViewModel

@{
    ViewBag.Title = "JobApplicant";
}

<div class="titlebar">Job Applicant</div>

<div class="applicantinfo">
    <label>Username: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Applicant.UserName)</div>
    <label>E-Mail: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Applicant.Email)</div>
    <label>Phone: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Applicant.PhoneNum)</div>
    <label>Full name: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Applicant.FullName)</div>
    <label>Jobs done: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Applicant.JobCount)</div>
    <label>Location: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Applicant.Location)</div>
    <br />
    <input type="button" value="Hire" class="btn btn-default col-xs-12" onclick="@("window.location.href='" + @Url.Action("Hire/"+Model.Application.ApplicationId) + "'");" />
    <br />
    <input type="button" value="Decline" class="btn btn-default col-xs-12" onclick="@("window.location.href='" + @Url.Action("Delcine/"+Model.Application.ApplicationId) + "'");" />
    <br />
    <input type="button" value="Back to applicants" class="btn btn-default col-xs-12" onclick="@("window.location.href='" + @Url.Action("Index") + "'");" />
</div>
