@model Semester1Project.Models.Job

@{
    ViewBag.Title = "JobDetail";
}

<div class="titlebar">Job details</div>

<div class="infopage">
    <label>Job name: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Title)</div>
    <label>Description: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Description)</div>
    <label>Location: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Location)</div>
    <label>Date: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Date)</div>
    <label>Expected hours the job will take: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.ExpectedHours)</div>
    <label>Pay (DKK): </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Payment)</div>
    <label>Maximum amount of workers: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.MaxWorkers)</div>
    <br />
    @if(ViewBag.appstatus != "Pending" && ViewBag.appstatus != "Started"  && ViewBag.appstatus != "Done") { 
    <input type="button" value="Apply for this job" class="btn btn-default col-xs-12" onclick="@("window.location.href='" + @Url.Action("Apply/"+Model.JobId) + "'");" />
    }

    @if(ViewBag.appstatus == "Pending")
    {
        <h4>Your Job request is awaiting response.</h4>
    }

    @if (ViewBag.appstatus == "Started")
    {
        <h4>This job is in progress.</h4>
    }


</div>

