@model Semester1Project.Models.User

@{
    ViewBag.Title = "UserDetail";
}

<div class="titlebar">User details</div>

<div class="infopage">
    <label>Username: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.UserName)</div>
    <label>E-Mail: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Email)</div>
    <label>Phone nuber: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.PhoneNum)</div>
    <label>Full name: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.FullName)</div>
    <label>Jobs done: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.JobCount)</div>
    <label>Location: </label>
    <div class="col-xs-12 text-center">@Html.DisplayFor(model => model.Location)</div>
</div>
