@model Semester1Project.Models.Job
<a href="@Url.Action("JobDetail/"+Model.JobId)">
    <div class="row jobrow">
        <div class="col-xs-9 jobbanner">
            <span class="bannerSpanTitle">@Model.Title </span>
            <span class="bannerSpanLocation">@Model.Location </span>
        </div>
        <div class="col-xs-3 jobpayment">
            <span class="bannerPayment">@Model.Payment DKK</span>
            <span>@Model.ExpectedHours Hours!</span>
        </div>
    </div>
</a>