@model Semester1Project.Models.User

<div class="BannerRoot">
    <a href="@Url.Action("UserDetail/"+Model.UserId)">
        <div class="row jobrow">
            <div class="col-xs-9 jobbanner">
                <span class="bannerSpanTitle">@Model.FullName </span>
                <span class="bannerSpanLocation">@Model.UserName </span>
            </div>
            <div class="col-xs-3 jobpayment">
                <span class="bannerPayment">Phone: @Model.PhoneNum</span>
                <br />
                <span>@Model.Email</span>
            </div>
        </div>
    </a>
</div>
